h3 {
  text-align:center;
}

#users {
  background-color: #C3C1C7;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .user {
    margin: 0 20px;
    font-weight: 600;
    word-break: break-all;
  }
}

#messages {
  -webkit-align-self: flex-start;
   align-self: flex-start;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .message {
    margin: 10px;

    .msg-icon {
      float: left;
      text-align: center;
      display: inline;
      width: 40px;
      color: #6B6B6B;
      margin-right: 5px;
    }

    .msg-wrapper {
      display: inline;
      .msg-header {
        .msg-date {
          margin: 0 10px;
          display: inline;
          color: #C3C1C7;
          font-size: small;
        }
        .msg-author {
          display: inline;
          word-break: break-all;
          font-weight: 600;
        }
        .msg-actions {
          color: #FF8A8A;
          cursor: pointer;
          display: inline;
        }
      }
      .msg-text {
        word-break: break-all;
        color: #6B6B6B;
      }
    }
  }
}

#new-message {
  -webkit-align-self: flex-end;
    align-self: flex-end;
  height: 120px;
  width: 100%;

  textarea#message {
    resize: none;
    height: 115px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
}

.main {
  flex-direction: column;
}

@media all and (max-width: 499px) {
  #users {
    flex: 1;
  }

  .main {
    flex: 2;
  }
}

@media all and (min-width: 500px) and (max-width: 799px) {
  #users {
    flex: 3;
  }

  .main {
    flex: 7;
  }
}


@media all and (min-width: 800px) and (max-width: 1199px) {
  #users {
    flex: 1;
  }

  .main {
    flex: 2;
  }
}


@media all and (min-width: 1200px) {
  #users {
    flex: 2;
  }

  .main {
    flex: 9;
  }
}
